/* Header - Section 1 */
.header_linear__gradient {
  z-index: 10;
}

.header_linear__gradient h3 {
  color: #ffd700;
}

.header__top__bar {
  padding: 1em 0em;
  margin: 0em auto;
  align-items: center;
  justify-content: center;
  background-color: #043677;
  width: 100vw;
}

.nav__container {
  z-index: 10;
}

.nav__list {
  margin-top: 1em;
}

.nav__link {
  text-decoration: none;
  padding: 0.7em 2em;
  border-radius: 1.5em;
  color: #083f88;
}

.nav__link:hover {
  background-color: #ffd700;
}
