/* Header - Section 1 */
.header_linear__gradient{
    background: linear-gradient(to bottom, #F7EF8A, white);

}

.header__top__bar{
    padding: 1em 0em;
    margin: 0em auto;
    align-items:left;
}

.nav__container{
    justify-content: end;
    justify-content: flex-end;

    
}

.nav__list{
    justify-content: flex-end;
    align-self: flex-end;
    right: 0;

}

.nav__link{
    text-decoration: none;
    margin-right: 1em;
  
}

.nav__link:hover{
    text-decoration: underline;
}


