/* Header - Section 1 */

.header__top__bar {
  padding: 0.6em 0em;
  margin: 0em auto;
  align-items: center;
  justify-content: center;
  background-color: #043677;
  width: 100%;
}

.header__top__bar h3 {
  font-family: "futura-std-book", sans-serif;
  font-size: 0.7em;
  margin: 0;
  color: #ffd700;
}

/* Header - Section 2 - middle bar*/
.header__middle__bar {
  margin: 0 auto;
}

.middle__brands {
  justify-content: flex-start !important;
  gap: 1em;
  padding: 0.6em 0em;
}

.middle__brands p {
  font-family: "futura-std-light", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.2ch;
  cursor: pointer;
  font-weight: bold;
}

.middle__brands p:hover {
  text-decoration: underline;
}

/* navigation */

.navigation {
  max-width: 1440px;
  align-self: center;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.item1 {
}

.nav-brand {
  font-family: "lastica", sans-serif;
  letter-spacing: 0.2ch;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  grid-column-start: 2;
  grid-column-end: 4;
  color: #043677;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
  grid-column-start: 5;
  grid-column-end: 9;
  margin: 0 auto;
}

.nav-links li {
  font-family: "futura-std-light", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.2ch;
  cursor: pointer;
  font-weight: bold;
}

.nav-links li:hover {
  text-decoration: underline;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}



/* Footer */
.footer-container {
  background-color: #043677;
}

.footer-main {
  display: flex;
  max-width: 1440px;
  margin: auto;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  font-family: "futura-std-book", sans-serif;
  color: gold;
  letter-spacing: 0.5ch;
  font-size: 1rem;
}

.footer-column p {
  font-family: "futura-std-light", sans-serif;
  color: #f2f2f2;
  margin:0 0 0.5em 0;
  cursor: 
  pointer;
  letter-spacing: 0.2ch;
  font-size: 0.9rem;
}

.footer-column p:hover{
  text-decoration:underline ;
}

.logo-footer {
  margin-top: 1em;
  border-radius: 0.2em;
  width: 100%;
  margin-top: 3em;
}

.footer-social {
  gap: 1em;
  margin-top: 10em;
}

.footer-lastline p {
  font-family: "futura-std-book", sans-serif;
 padding: 2em 0em;
 margin: 0;
  color: #f2f2f2;
}

.social-media-icon-container {
  background-color: #202020;
  width: 3em;
  height: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social-media-icon-container:hover {
  background-color: gold;
}

.social-media-icon {
  color: #ffffff;
  width: 1.3em;
  height: 1.3em;
}







@media (max-width: 1024px) {
  .header__top__bar h3 {
    font-size: 0.6rem;
  }

  .middle__brands p {
    font-size: 0.6rem;
  }

  .nav-links {
    display: none;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

@media (max-width:1440px){
  .footer-container{
    padding: 0em 1em;
  }
}
