/* Section 1 - Hero */
.hero__container {
  width: auto;
  justify-content: center;
  align-items: center;
  z-index: 5;
  margin-top: 1em;
  border-radius: 2em;
  position: relative;
  
}

.hero__car__search {
  position: absolute;
  margin: 0em auto;
  background-color: lightcyan;
  align-self: center;
  padding: 2em;
}

.hero__car__search button{
    width: 15em;
    height: 3em;
    margin: 1em auto;
    border-radius: 3em;
    border-width: 0;
    background-color: #083F88;
    color: white;
    font-family: 'cabin', sans-serif;
}

.hero__car__search button:hover{
    background-color: #285b9e;
}

.car__search{


}

.search__city{
    text-align: start;
    padding:1em;
}

.search__city label{
    margin-left: 1em;
    margin-bottom: 0.1em;
}

.search__city input{
    background-color:#F7EF8A;
    height: 3em;
    width:20em;
    border-width: 0px;
    border-radius: 2em;
    padding-left: 20px;
}

.search__city input:focus{
    outline: none;
}

.search__city input::placeholder{
    font-family: 'Times New Roman', Times, serif;
}

.pickup__date{
    text-align: start;
    padding:1em;
}

.pickup__date label{
    margin-left: 1em;
    margin-bottom: 0.1em;
}

.pickup__date input{
    background-color:#F7EF8A;
    height: 3em;
    width:10em;
    border-width: 0px;
    border-radius: 2em;
    padding:0px 20px;
}

.pickup__date input:focus{
    outline: none;
}

.drop__date{
    text-align: start;
    padding:1em;
}

.drop__date label{
    margin-left: 1em;
    margin-bottom: 0.1em;
}

.drop__date input{
    background-color:#F7EF8A;
    height: 3em;
    width:10em;
    border-width: 0px;
    border-radius: 2em;
    padding:0px 20px;
}

.drop__date input:focus{
    outline: none;
}

.drop__date input::placeholder{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}