/* Section 1 - Hero */
/* .hero__container {
  width: auto;
  justify-content: center;
  align-items: center;
  z-index: 5;
  margin-top: 1em;
  border-radius: 2em;
  position: relative;
}

.hero__container img {
  width: 100%;
}

.hero__car__search {
  position: absolute;
  margin: 0em auto;
  align-self: center;
  padding: 2em;
  background-color: rgba(255, 215, 0, 0.7);
  border-radius: 2em;
}

.hero__car__search h1 {
  color: #083f88;
}

.hero__car__search button {
  width: 15em;
  height: 3em;
  margin: 1em auto;
  border-radius: 3em;
  border-width: 0;
  background-color: #083f88;

  color: #ffd700;
  font-family: cantata-one, sans-serif;
}

.hero__car__search button:hover {
  background-color: #285b9e;
}

.car__search {
}

.car__search label {
  color: #083f88;
}

.search__city {
  text-align: start;
  padding: 1em;
}

.search__city label {
  margin-left: 1em;
  margin-bottom: 1em;
}

.search__city input {
  background-color: #f2f2f2;
  color: #043677;
  font-family: cantata-one, sans-serif;
  font-size: 1rem;
  height: 3em;
  width: 20em;
  border-width: 0px;
  border-radius: 1em;
  padding-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search__city input:focus {
  outline: none;
}

.search__city input::placeholder {
  font-family: cantata-one, "sans-serif";
  color: black;
}

.pickup__date {
  text-align: start;
  padding: 1em;
}

.pickup__date label {
  margin-left: 1em;
  margin-bottom: 1em;
}

.pickup__date input {
  background-color: #f2f2f2;
  color: #043677;
  font-family: cantata-one, "sans-serif";
  height: 3.5em;
  width: 10em;
  border-width: 0px;
  border-radius: 1em;
  padding: 0px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pickup__date input:focus {
  outline: none;
}

.drop__date {
  text-align: start;
  padding: 1em;
}

.drop__date label {
  margin-left: 1em;
  margin-bottom: 1em;
}

.drop__date input {
  background-color: #f2f2f2;
  color: #043677;
  font-family: cantata-one, "sans-serif";
  height: 3.5em;
  width: 10em;
  border-width: 0px;
  border-radius: 0em;
  padding: 0px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drop__date input:focus {
  outline: none;
}

.drop__date input::placeholder {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
} */
/* Why Choose - Section 3 */
.why__choose__container{
  max-width: 1440px;
  margin: 2em auto;

}


.why__choose__cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 20em));
  row-gap: 2em;
  column-gap: 2em;
  margin: 0 auto;
  justify-content: center;


}

.why__choose__card img{
  display: block;
  width: 50%;
 margin: 0 auto;
}

.why__choose__container h2{
  margin: 0 0 0.5em 0;
  font-family: "futura-std-medium", "sans-serif";
  font-size: 3rem;
  letter-spacing: 0.1ch;
}

.why__choose__card h3{
  margin: 0em 0em 0.4em 0em;
  font-size: 1rem;
  font-family: "futura-std-book", sans-serif;
  letter-spacing: 0.3ch;
}

.why__choose__card p{
  margin: 0;
  text-align: center;
  font-family: "futura-std-light", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.2ch;
}


/* Our Services */
.our__services__container {
  margin: 5em auto;
}

.our__services__container h4 {
  margin: 0;
  font-family: "futura-std-medium", "sans-serif";
  font-size: 3rem;
  letter-spacing: 0.1ch;
}

.our__services__container h2 {
  margin: 0;
  font-family: "futura-std-medium", "sans-serif";
  font-size: 1.2rem;
  letter-spacing: 0.1ch;
}

.our__services__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
  justify-content: center;
  margin: 2em auto;
  gap: 3em;
}

.our__services__card {
  flex: 1;
  padding: 1em;
  border-radius: 0em;
  align-items: flex-start;
}

.our__services__card:hover {
  border: 1px solid black;
}

.our__services__card img {
  width: 100%;
  border-radius: 0em;
  display: block;
}

.our__services__card h3 {
  margin: 3em 0em 0.4em 0em;
  font-size: 1.5rem;
  font-family: "futura-std-medium", sans-serif;
  letter-spacing: 0.4ch;
}

.our__services__card__service {
  margin: 0 0 0.5em 0.3em;
  gap: 0.6em;
}

.our__services__card p {
  margin: 0;
  text-align: left;
  font-family: "futura-std-light", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.2ch;
}

.our__services__card button {
  justify-self: center;
  align-self: flex-start;
  margin-top: 1em;
  padding: 0.5em 1em;
  border-width: 0px;
  font-family: "futura-std-light", sans-serif;
  letter-spacing: 0.2em;
}

.our__services__cards button:hover {
  background-color: #ffd700;
}

/* Cars - Section 3*/
.explore__cars__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore__cars__header > h3 {
  font-family: "futura-std-medium", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2ch;
  font-size: 3rem;
  margin: 0 0 0.5em 0;
}

.wrapper__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
  justify-content: center;
  gap: 1em 1em;
}

.cars__main__container {
  margin: 0 auto;
}

.cars__row {
  gap: 1em;
  margin: 1em auto;
}

.individual__car {
  flex: 1;
  margin: 0em 0em 1em 1em;
  justify-content: center;
  align-items: center;
}

.individual__car img {
  width: 100%;
}

.individual__car h4 {
  text-align: left;
  margin-top: 1em;
  align-self: flex-start;
  font-family: "futura-std-medium", sans-serif;
  letter-spacing: 0.1ch;
  font-size: 2rem;
  margin: 0.3em 0 0 0;
}

.individual__car p {
  text-align: left;
  align-self: flex-start;
  margin-bottom: 1em;
  font-family: "futura-std-light", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.2ch;
  margin-top: 0.7em;
}

.i__car__brand p {
  align-self: flex-start;
}

.cars__icon {
  width: 4em;
  color: #083f88;
}

/* new hero  */
.h__n__mc {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.h__n__mc img {
  width: 100%;
  display: block;
  margin: 0.8em auto;
}

.hero__med__img {
  display: none;
}

.rent__from__us {
  position: absolute;
  left: 5em;
  top: 20em;
  display: flex;
  flex-direction: column;
}

.rent__from__us h2 {
  margin: 0;
}

.rent__from__us h4 {
  margin: 0 0.5em 0 0;
  text-emphasis: filled;
  align-self: flex-end;
  font-family: "futura-std-light", sans-serif;
  letter-spacing: 0.2ch;
}

.rent__from__us button {
  font-family: "futura-std-light", sans-serif;
  letter-spacing: 0.2ch;
  font-weight: bolder;
  padding: 1em 0em;
  width: 50%;
  align-self: flex-end;
  margin: 1em 0em;
  border-width: 0px;
}

.rent__from__us button:hover {
  background-color: #ffd700;
}

.h__n__mc h2 {
  grid-column: 3/11;
  grid-row: 4/5;
  display: flex;
  align-self: center;
  justify-self: center;
  color: #083f88;
  font-family: "futura-std-heavy", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2ch;
  font-size: 3rem;
}

/* Booking Form */
.booking__form {
  display: fixed;
  top: 50%;
  left: 50%;
  background-color: #083f88;
  padding: 2em;
  z-index: 20;
  margin: auto;
  align-self: center;
  justify-self: center;
  max-width: 540px;
  margin-top: 20em;
}

.booking__form h4{
  color: gold;
  margin-top: 0;
  font-family: 'futura-std-heavy', 'sans-serif';
  font-size: 1.5rem;
}

.booking-form__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 19;
}

.booking__form__input__fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.booking__form__input__fields label {
  font-family: "futura-std-medium", sans-serif;
  color: white;
  font-size: 1.2rem;
}

.booking__form__input__fields input{
  border-width: 0px;

  padding: 0.6em;
}

.booking__form__input__fields input:focus{
  outline: 0px;
}

.booking__form__input__fields input::placeholder{
  font-family: 'futura-std-book', Verdana, Geneva, Tahoma, sans-serif;

}

.booking__form__button__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.booking__form__button__container button{
  padding:1em 2em;
  border-width: 0px;
  font-family: 'futura-std-book', Verdana, Geneva, Tahoma, sans-serif;
}

.button__close:hover{
  background-color: rgb(250, 99, 99);
}

.button__book:hover{
  background-color: gold;
}

/* .h__booking__form {
  grid-column: 3/11;
  grid-row: 5/7;
  background-color: #083f88;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h__inputs {
  display: flex;
  flex-direction: row;
  position: relative;
  grid-column: 5/6;
  justify-content: space-around;
  margin-top: 3em;
}

.h__inputs label {
  text-align: left;
  margin-bottom: 1em;
  color: #ffd700;
  font-family: "futura-std-medium", sans-serif;
  letter-spacing: 0.2ch;
}

.h__inputs input {
  height: 2.5em;
  border-width: 0;
  background-color: #f2f2f2;
  color: #083f88;
  font-family: "futura-std-light", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.2ch;
  font-weight: bold;
  padding: 0em 1em;
}

.h__inputs input:focus {
  outline: none;
}

.h__date__inputs {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.h__city input {
  max-width: 40em;
}

.h__pickup input {
  width: 10em;
}

.h__drop input {
  width: 10em;
}

.h__submit__button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 6/7;
  grid-column: 3/11;
  margin-bottom: 1em;
}

.h__submit__button button {
  padding: 1em 2em;
  border-width: 0em;
  font-family: "futura-std-medium", sans-serif;
  letter-spacing: 0.2ch;
  align-self: flex-end;
}

.h__submit__button button:hover {
  background-color: #083f88;
  color: #ffd700;
} */

/* Media quaries for standered values */
@media (max-width: 1024px) {
  .h__n__mc {
    grid-template-rows: repeat(6, 5em);
  }

  .h__n__mc h2 {
    grid-row: 3/4;
  }

  .h__booking__form {
    grid-row: 4/7;
    padding: 1em;
  }

  .h__inputs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
  }

  .h__inputs label {
    font-size: 0.8rem;
  }

  .h__date__inputs {
    flex-direction: row;
    gap: 3em;
  }

  .h__submit__button {
    align-self: flex-end;
    margin-bottom: 0.2em;
  }

  .hero__med__img {
    display: none;
  }

  /* Images */
  .hero__large__img {
    display: none;
  }

  .hero__med__2__img{
    display: block  ;
  }

  .hero__small__img{
    display: none;
  }

  .rent__from__us {
    top: 12em;
  }

  .rent__from__us h2 {
    font-size: 2.5rem;
  }
}

@media (min-width:1023px) {
  .hero__med__2__img{
    display: none;
  }

  .hero__small__img{
    display: none;
  }
}

@media (max-width:768px) {
  .hero__med__image{
    display: none;
  }

  .hero__med__2__img{
    display: block;
  }

  .hero__large__img{
    display: none;
  }

  .hero__small__img{
    display: none;
  }



}


@media (max-width: 480px) {
  .hero__small__img{
    display: block;
  }

  .hero__med__2__img{
    display: none;
  }

  .rent__from__us{
    margin-top:15em;
  }

  .rent__from__us h2{
    color: #ffd700;
  }


}

/* Non standered Media Quaries */
@media (max-width: 1440px) {
  .rent__from__us {
    left: 2em;
    top: 12em;
  }
}

@media (max-width: 1150px) {
  .rent__from__us {
    top: 12em;
  }
}

@media (max-width:864px){
  .rent__from__us {
    top:10em
  }
}

@media (max-width:768px){
  .rent__from__us{
    top:8em;
  }
}

@media (max-width:562px){
  .rent__from__us h4{
    color: white;
  }
}

@media (max-width:418px){
  .rent__from__us{
    margin-top: 10em;
  }
}