@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@font-face {
  font-family: dalmais;
  src: url(./assets/fonts/Dalmais/Dalmais.otf);
}

@font-face {
  font-family: cantata-one;
  src: url(./assets/fonts/cantata-one/CantataOne-Regular.ttf);
}


.App {
  text-align: center;
  margin: 0;
}

/* Texts */

.main__heading {
  font-family: dalmais, "sans-serif";
  font-weight: bolder;
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
  letter-spacing: 0.5ch;
}

.main__heading__2{
  font-family: dalmais, "sans-serif";
  font-weight: 900;
  font-size:4rem;
  letter-spacing: ch;
  margin: 0;
}

.subheading__1 {
  font-family: cantata-one, sans-serif;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.1ch;
  line-height: 2ch;
  margin: 0;
}

.subheading__2 {
  font-family: cantata-one, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.05ch;
  line-height: 2ch;
  margin: 0;
}

.subheading__3 {
  font-family: cantata-one, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.05ch;
  line-height: 2ch;
  margin: 0;
}

.paragraph {
  font-family: cantata-one, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0ch;
  line-height: 2ch;
  margin: 0;
}

.tag__1{
  font-family: cantata-one, sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1ch;
  margin: 0;
}

.tag__2{
  font-family:cantata-one, sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
  margin: 0;
}


/* Layouts */
.container{
  max-width: 1440px;
  margin:0em auto;
}

.column{
  display: flex;
  flex-direction: column;
  margin:0 auto;
}

.row{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* colors */
.wh{
  color: white;
}

.pk{
  color:#FFD700;
}

.sc{
  color: #083F88;
}

.ac{
  color: #FFD700;
}

.bg__1{
  background-color: #083F88;
  color: white;
}

.bg__2{
  background-color: #FFD700;
  color: black;
}

.bg__3{
  background-color: #FFD700;
  color: white;
}

.bg__4{
  background-color: #FFD700;
  color: black;
}