@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@font-face {
  font-family: lastica;
  src: url(./assets/fonts/Lastica.ttf);
}

@font-face{
  font-family: ab-lib-b;
  src: url(./assets/fonts/AbhayaLibre/AbhayaLibre-Bold.ttf);
}

@font-face{
  font-family: ab-lib-eb;
  src: url(./assets/fonts/AbhayaLibre/AbhayaLibre-ExtraBold.ttf);
}

@font-face{
  font-family: ab-lib-m;
  src: url(./assets/fonts/AbhayaLibre/AbhayaLibre-Medium.ttf);
}

@font-face{
  font-family: ab-lib-r;
  src: url(./assets/fonts/AbhayaLibre/AbhayaLibre-Regular.ttf);
}

@font-face{
  font-family: ab-lib-sb;
  src: url(./assets/fonts/AbhayaLibre/AbhayaLibre-SemiBold.ttf);
}

@font-face {
  font-family: fogl;
  src: url(./assets/fonts/Foglighten/FoglihtenPCS-068.otf);
}

@font-face {
  font-family: agraham;
  src: url(./assets/fonts/Agraham/Agraham.otf);
}


.App {
  text-align: center;
  margin: 0;
}

/* Texts */

.main__heading {
  font-family: agraham, "sans-serif";
  font-weight: bolder;
  font-size: 3rem;
  margin: 0;
}

.main__heading__2{
  font-family: agraham, "sans-serif";
  font-weight: 900;
  font-size:1rem;
  letter-spacing: 0ch;
  margin: 0;
}

.subheading__1 {
  font-family: agraham, sans-serif;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.1ch;
  line-height: 2ch;
  margin: 0;
}

.subheading__2 {
  font-family: agraham, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.05ch;
  line-height: 2ch;
  margin: 0;
}

.paragraph {
  font-family: agraham, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1ch;
  line-height: 2ch;
  margin: 0;
}

.tag__1{
  font-family: agraham, sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
  margin: 0;
}

.tag__2{
  font-family:agraham, sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
  margin: 0;
}


/* Layouts */
.container{
  max-width: 1440px;
  margin:0em auto;
}

.column{
  display: flex;
  flex-direction: column;
  margin:0 auto;
}

.row{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* colors */
.wh{
  color: white;
}

.pk{
  color:#FFD700;
}

.sc{
  color: #083F88;
}

.ac{
  color: #FFD700;
}

.bg__1{
  background-color: #083F88;
  color: white;
}

.bg__2{
  background-color: #FFD700;
  color: black;
}

.bg__3{
  background-color: #FFD700;
  color: white;
}

.bg__4{
  background-color: #FFD700;
  color: black;
}